html,
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal-header {
  padding: 20px;
  text-align: center;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ddd;
}

.product-image {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.modal-body {
  padding: 20px;
}

.product-title {
  font-size: 30px;
  margin: 15px 0;
  color: #333;
}

.priceBox {
  font-size: 26px;
  color: #e74c3c;
  margin-bottom: 10px;
}

.buttons_added {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.buttons_added input {
  width: 40px;
  text-align: center;
  margin: 0 5px;
}

.product-description {
  font-size: 20px;
  color: #555;
  margin-top: 15px;
  line-height: 1.5;
}

.notebox {
  margin-top: 20px;
}

.notebox-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 20px;
}

.text-note {
  width: 95%;
  height: 200px;
  padding: 25px;
  margin: 0 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
}

.modal-footer-control {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 100px;
}

.button-dathangngay,
.button-dat {
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.button-dathangngay,
.button-dat {
  background-color: #e74c3c;
  color: white;
}

.button-dathangngay:hover,
.button-dat:hover {
  background-color: #c0392b;
}

.button-dathangngay:active,
.button-dat:active {
  transform: scale(0.95); /* Button thu nhỏ khi nhấn vào */
  background-color: rgba(255, 0, 0, 0.736);
  color: white;
  font-weight: 5 00; /* Màu sáng hơn khi nhấn */
}

.modal-return {
  position: absolute;
  top: 10px;
  left: 10px;
  border: none;
  background: transparent;
  font-size: 24px;
  cursor: pointer;
}
